body {
  margin: auto;
  font-family: monospace;
  background: lightgrey;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
}

.blink {
  text-decoration: blink;
}

section#loginBox {
  background-color: rgb(34, 139, 34);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.2);
  margin: 40px auto; /*aligns center*/
  padding: 40px;
  width: 500px;
}

form {
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
}
